html {
    scroll-behavior: smooth;
}


.available{
    
    background-image: url("Assets/Background/Update\ miko.jpg");
    background-size: cover;
    background-position: center;
    height: calc(340px + 30vw);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.available .availtext{
    background-image: url("Assets/text\ available\ on\ multiple.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 120px;
    height: 25%;
    width: 50%;
    /* background-color:aqua ; */
}




.gameabout{
    background-image: url("Assets/Background/golden\ house.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* z-index: -100; */

}

.gamecontent{
    width: 100%;
    height: 100%;
}

#panahkiri{
    margin-right: 50px;
    float: left;
    width: auto;
    height: 15px;
    margin-top: 10px;

}

#panahkanan{
    margin-left: 50px;
    float: right;
    width: auto;
    height: 15px;
    margin-top: 10px;
    transform: scale(-1, -1);

}

.vidgameplay-container{
    width: 100%;
    height: 100%;
 }

.gameabout .header-gameplay{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;     
    font-size: 2em;
    width: 100%;
    color: aliceblue;
    /* x, y , blur radius */
    text-shadow: 1px 1px 10px #000000; 

}

.gameabout .header-gameplayFeat{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 150px;      */
    font-size: 35px;
    width: 100%;
    color: aliceblue;
    /* x, y , blur radius */
    text-shadow: 1px 1px 10px #000000; 

}

.gameabout .header-gameplayScreenshot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;     
    font-size: 35px;
    width: 100%;
    color: aliceblue;
    /* x, y , blur radius */
    text-shadow: 1px 1px 10px #000000; 

}

.gameFeatures-kiri{
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    margin-top:300px;
    margin-bottom: 150px;
    margin-right: 100px;
    margin-left: 350px;
}

.gameFeatures-kanan{
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    margin-top:300px;
    margin-bottom: 150px;
    margin-right: 350px;
    margin-left: 100px;
}


.textbg-kiri{
    background-image: url("Assets/Background/Text background.png");
    position: absolute;
    background-size: cover;
    margin-left: -1000px;
    margin-bottom: 250px;
    text-align: center;
    width: 448px;
    height: 398px;
   
} 

.textbg-kanan{
    background-image: url("Assets/Background/Text background.png");
    position: absolute;
    background-size: cover;
    margin-right: -1000px;
    margin-bottom: 250px;
    text-align: center;
    width: 448px;
    height: 398px;
   
} 



.overlay{
    width: 100%;
    height: 100%;
    padding: 3vh;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .overlay h1{
    padding: 10px;
} */

.overlay p{
    padding: 0 5%;
}

.epic-img img{
    width: 100%;
    height: 100%;
}

.epic-img{
    display: flex;
    margin-right: 0;
    width: 900px;
    height: 500px;
}


.master-img img{
    width: 100%;
    height: 100%;
}

.master-img{
    display: flex;
    margin-right: 0;
    width: 900px;
    height: 500px;
}

.genshinView-img img{
    width: 100%;
    height: 100%;
}

.genshinView-img {
    display: flex;
    margin-right: 0;
    width: 900px;
    height: 500px;
}

.playTogether-img img{
    width: 100%;
    height: 100%;
}

.playTogether-img {
    display: flex;
    margin-right: 0;
    width: 900px;
    height: 500px;
}

.dream-img img{
    width: 100%;
    height: 100%;
}

.dream-img{
    display: flex;
    margin-right: 0;
    width: 900px;
    height: 500px;
}

@media screen and (max-width : 800px){

    .overlay{
        scale: 0.8;
    }
    /* .overlay h1{
        padding: 10px;
    } */
    
    .overlay p{
        padding: 0 5%;
    }
    .textbg-kiri{
        scale: 0.8;
        margin-left: -500px;
        margin-bottom: 250px;
    } 
    
    .textbg-kanan{
        scale: 0.8;
        margin-right: -500px;
        margin-bottom: 250px;
       
    } 

    .gameabout .header-gameplay{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;     
        width: 100%;
        color: aliceblue;
        text-shadow: 1px 1px 10px #000000; 
        text-align: center;
        
    }
    .gameabout .header-gameplay h1{
        font-size: 1em;  

    }
    
    .gameabout .header-gameplayFeat{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;     
        font-size: 0.5em;
        width: 100%;
        color: aliceblue;
        text-shadow: 1px 1px 10px #000000; 
        text-align: center;
    
    }
    .gameabout .header-gameplayFeat h1{
        font-size: 1.5em;
    }
    
    .gameabout .header-gameplayScreenshot{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;     
        font-size: 0.5em;
        width: 100%;
        color: aliceblue;
        text-shadow: 1px 1px 10px #000000; 
        text-align: center;
    }

    .gameabout .header-gameplayScreenshot h1{
        font-size: 1em;
    }

    .gameabout .header-gameplay{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;     
    font-size: 2em;
    width: 100%;
    color: aliceblue;
    /* x, y , blur radius */
    text-shadow: 1px 1px 10px #000000; 

}

.gameabout .header-gameplayFeat{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;     
    font-size: 35px;
    width: 100%;
    color: aliceblue;
    /* x, y , blur radius */
    text-shadow: 1px 1px 10px #000000; 

}

.gameabout .header-gameplayScreenshot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;     
    font-size: 35px;
    width: 100%;
    color: aliceblue;
    /* x, y , blur radius */
    text-shadow: 1px 1px 10px #000000; 

}
    
    
    .epic-img{
        display: flex;
        margin-right: 0;
        width: 450px;
        height: 250px;
    }
    
    .epic-img img{
        width: 100%;
        height: 100%;
        /* display: none; */
    }
    
    .master-img img{
        width: 100%;
        height: 100%;
    }
    
    .master-img{
        display: flex;
        margin-right: 0;
        width: 450px;
        height: 250px;
    }
    
    .genshinView-img img{
        width: 100%;
        height: 100%;
    }
    
    .genshinView-img {
        display: flex;
        margin-right: 0;
        width: 450px;
        height: 250px;
    }
    
    .playTogether-img img{
        width: 100%;
        height: 100%;
    }
    
    .playTogether-img {
        display: flex;
        margin-right: 0;
        width: 450px;
        height: 250px;
    }
    
    .dream-img img{
        width: 100%;
        height: 100%;
    }
    
    .dream-img{
        display: flex;
        margin-right: 0;
        width: 450px;
        height: 250px;
    }

    #panahkiri{
        margin-right: 50px;
        float: left;
        width: auto;
        height: 10px;
        margin-top: 10px;
    
    }
    
    #panahkanan{
        margin-left: 50px;
        float: right;
        width: auto;
        height: 10px;
        margin-top: 10px;
        transform: scale(-1, -1);
    
    }

}
@media screen and (max-width : 400px){



    .gameabout{
        width: 380px;
    }
    .available .availtext{
        width: 100%;
    }

    .slider{
        transform: scale(0.5);
    }
    /* .slider label */
    
    iframe {
        width: 300px;
        height: 200px;
    }
}